@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;700&display=swap');



* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  
}

.favicon {
  margin-left: px;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #006400;
  height: 8vh;
}



.nav-list {
  list-style: none;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width:600px) {
  .nav,
  .nav-list,
  li.nav-list,
  .mobile-menu,
  div.mobile-menu {
  align-items:center;
  } 
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  section.hero {
    max-width: 50%;
    align-items: center;
    object-fit: cover;
    object-position: bottom;
  }
  
  img src{
    max-width: 50%;
    object-fit: cover;
    object-position: bottom;
  } 
 
  .image_text_index1,
  .image_text_index2,
  .image_text_index3,
  .image_text_index4,
  #posicao_texto_index5 {
    text-align: center;
    object-fit: cover;
    object-position: bottom;
    
  }
  
  
  #posicao_texto_index1 h2,
  #posicao_texto_index2 h2,
  #posicao_texto_index3 h2,
  #posicao_texto_index4 h2,
  #posicao_texto_index5 h2 {
    font-size: 24px;

  }
  
  
  .texto_redimensionado_index1,
  .texto_redimensionado_index2,
  .texto_redimensionado_index3,
  .texto_redimensionado_index4,
  .texto_redimensionado_index5 {
    font-size: 16px;
  }
  
  
  .btn {
    padding: 8px 16px;
  }
  
  
  .logo {
    font-size: 24px;
  }
  
  
  .favicon img {
    width: 30px;
    height: 30px;
  }
  
  
  footer p,
  footer h4 {
    font-size: 12px;
  }
  
  
  #equipe_rodape {
    display: none;
  }
}

@media (max-width:820px) {
  .nav,
  .nav-list,
  li.nav-list,
  .mobile-menu,
  div.mobile-menu {
  align-items:center;
  } 

  img {
    object-fit: cover;
    object-position: bottom;
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  section.hero {
    max-width: 50%;
    align-items: center;
    
  }
  
  
  .image_text_index1,
  .image_text_index2,
  .image_text_index3,
  .image_text_index4,
  #posicao_texto_index5 {
    text-align: center;
    
  }
  
  
  #posicao_texto_index1 h2,
  #posicao_texto_index2 h2,
  #posicao_texto_index3 h2,
  #posicao_texto_index4 h2,
  #posicao_texto_index5 h2 {
    font-size: 24px;

  }
  
  
  .texto_redimensionado_index1,
  .texto_redimensionado_index2,
  .texto_redimensionado_index3,
  .texto_redimensionado_index4,
  .texto_redimensionado_index5 {
    font-size: 16px;
  }
  
  
  .btn {
    padding: 8px 16px;
  }
  
  
  .logo {
    font-size: 24px;
  }
  
  
  .favicon img {
    width: 30px;
    height: 30px;
  }
  
  
  footer p,
  footer h4 {
    font-size: 12px;
  }
  
  
  #equipe_rodape {
    display: none;
  }

}

@media (min-width:600px){
  .container{
  display: flex;
  align-items: center;
  flex-direction:column;
}
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.hero {
  background-image: url('hero.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: #006400;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #009688;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #008080;
}



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}



footer {
  background-color: #333;
  color:#fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 14px;
}



.image_text_index1 {
  background-image:url(/assets/images/dicas-para-agricultura-familiar.jpg);
  height: 500px;
  width: 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  
}

.image_text_index2 {
  background-image:url(/assets/images/inteligencia_artificial.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
}

.image_text_index3 {
  background-image: url(/assets/images/cultivo_eficiente.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
}

.image_text_index4 {
background-image: url(/assets/images/agricultura-sustentavel.jpg);
background-repeat: no-repeat,no-repeat;
background-position: center;
height: 500px;
width: 100%;
}



.texto_redimensionado_index1 {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 440px;
}

.texto_redimensionado_index2 {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 440px;
}

.texto_redimensionado_index3 {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 440px;
}

.texto_redimensionado_index4 {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 440px;
}

.texto_redimensionado_index5 {
  display: flex;
  flex-direction: column;
  align-items:center;
  font-family: 'Geologica', sans-serif;
}

#posicao_texto_index1 {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: -30px;
  font-family: 'Geologica', sans-serif;
  
}

#posicao_texto_index2 {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: -30px;
  font-family: 'Geologica', sans-serif;
}

#posicao_texto_index3 {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: -30px;
  font-family: 'Geologica', sans-serif;
}

#posicao_texto_index4 {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: -30px;
  font-family: 'Geologica', sans-serif;
}

#posicao_texto_index5 {
  font-family: 'Geologica', sans-serif;
}

#paragrafo_pag_contato {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 18px;
}

#titulo_pag_contato {
  font-family:'Geologica', sans-serif; ;
}

.formulario {
  text-align: center;
  vertical-align: top;
  resize: vertical;
  margin-top: -50px;
  
}

form {
  margin: 0 auto;
  width: 400px; 
  padding: 1em;
  border: 1px solid #006400;
  border-radius: 1em;
  background-color: #006400;
  box-shadow: 10px -10px #0f9c0f;;
}

form div + div {
  margin-top: 1em;
}

label {
  width: 90px;
  text-align: center;
  margin-top: .5em;
  font-family:'Geologica', sans-serif;
  font-size: 13px;
  color: #fff;
}
input,textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #006400;
  border-radius: 15px;
}

input:focus, textarea:focus{
  border-color: #000;
}

#cultivo_utilizado_form {
  border-radius: 15px;
}

#propriedade_form {
  border-radius: 15px;
}

.button {
  align-items: center; 
}

button {
margin-top: .5em;
color: #fff;
background-color: #006400;
border-radius: 5px;
width: 100px;
height: 30px;
font-family:'Geologica', sans-serif; ;
}

.rodape{
font-family: Arial, Helvetica, sans-serif;
}



#equipe_rodape {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-content: space-between;
  align-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}

#image1_ia_generativa {
    height: 500px;
    width: 100%;
    display: flex;
    background-repeat: no-repeat, no-repeat;
    position: left;
}

.textos {
  display: flex;
  flex-direction: column;
  align-items:right;
  margin: 10px;
  display: flex;
  text-align:center;
  font-family: 'Geologica', sans-serif;
  padding: 10px;
  
}

.titulo {
  padding: 10px;
  margin: 10px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}



#titulo_ia_generativa {
  font-weight: bold;
}

.image2_ia_generativa {

  height: 500px;
  width: 100%;
  display: flex;
  background-repeat: no-repeat, no-repeat;
  position: right;
}

.image3_ia_generativa {

  height: 500px;
  width: 100%;
  display: flex;
  background-repeat: no-repeat, no-repeat;
  position: right;
}